Pandas Series 类似表格中的一个列（column），类似于一维数组，可以保存任何数据类型。

**Series 特点：**
- **索引：** 每个 Series 都有一个索引，它可以是整数、字符串、日期等类型。如果没有显式指定索引，Pandas 会自动创建一个默认的整数索引。从0开始递增
- **数据类型：** Series 可以容纳不同数据类型的元素，包括整数、浮点数、字符串等。

Series 是 Pandas 中的一种基本数据结构，类似于一维数组或列表，但具有标签（索引），使得数据在处理和分析时更具灵活性。

以下是关于 Pandas 中的 Series 的详细介绍： 

**创建 Series：** 可以使用 `pd.Series()` 构造函数创建一个 Series 对象，传递一个数据数组（可以是列表、NumPy 数组等）和一个可选的索引数组。

In [ ]:
# pandas.Series( data, index, dtype, name, copy)
""" 
data：一组数据(ndarray 类型)。
index：数据索引标签，如果不指定，默认从 0 开始。
dtype：数据类型，默认会自己判断。
name：设置名称。
copy：拷贝数据，默认为 False。
"""
# 使用列表创建series数据结构
import pandas as pd
a = [1,2,3,4]
b = pd.Series(a) # 使用列表创建series数据结构
print(b) # 索引 + 数据
print(type(b)) # <class 'pandas.core.series.Series'>

0    1
1    2
2    3
3    4
dtype: int64
<class 'pandas.core.series.Series'>

In [8]:
# 使用np中的数组创建
import pandas as pd
import numpy  as np
# 使用np中的数组创建
a = np.array([1.1, 2.2, 3.3])
# b = pd.Series(a)
b = pd.Series(a, index=["a", "b", "c"])
# b = pd.Series(a, index=[100, "b", "c"])
print(b)

a    1.1
b    2.2
c    3.3
dtype: float64

In [12]:
c = pd.Series(b, index=["a", "b"]) # 用新的索引重新构造 Series，只保留 "a" 和 "b"
print(c)

a    1.1
b    2.2
dtype: float64

In [15]:
# 使用字典创建series
sites = {1: "Google", 9: "Baidu", 3: "Souhu"} # 使用字典创建series
print(type(sites)) # 字典
var = pd.Series(sites)
var

<class 'dict'>

1    Google
9     Baidu
3     Souhu
dtype: object

In [18]:
var = pd.Series(sites, index=[1, 9]) # 只取1和9对应的值
var

1    Google
9     Baidu
dtype: object

#### DataFrame 简介

**DataFrame** 是 Pandas 中最常用的二维表格型数据结构，它包含有序的列，每一列可以是不同的数据类型（如数值、字符串、布尔值等）。  
可以将 DataFrame 理解为一个“由多个 Series 按列组合而成”的表格结构，既有 **行索引**，也有 **列索引**。

---

#### DataFrame 的特点

1. 行和列
- 每一列就是一个 Series，可以有不同的数据类型。
- 每一行都有一个行索引，用于唯一标识。

2. 二维结构
- DataFrame 是一个二维的数据容器，结构类似于 Excel 表格。
- 它是多个 Series **共享一个行索引**组合而成。

3. 数据类型灵活
- 每一列可以是整数、浮点数、字符串、布尔值等。
- **每列独立定义数据类型**，互不影响，更加灵活。

In [ ]:
# pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
"""
data：数据内容，可为字典、列表、二维数组、Series、字典组成的列表等格式。
index：行索引标签，默认从 0 开始的整数索引。
columns：列名列表，默认从数据中推断。
dtype：指定整体数据类型，默认自动推断。
copy：是否复制数据，默认 False。
"""

In [19]:
# 使用字典创建Dataframe
import pandas as pd

data = {
    '姓名': ['张三', '李四', '王五'],
    '年龄': [25, 30, 28],
    '城市': ['北京', '上海', '广州']
}

df = pd.DataFrame(data, index=[1,2,3])
df

   姓名  年龄  城市
1  张三  25  北京
2  李四  30  上海
3  王五  28  广州

In [22]:
# 使用列表创建
data = [
    ['张三', 25, '北京'],
    ['李四', 30, '上海'],
    ['王五', 28, '广州']
]

df = pd.DataFrame(data, columns=['姓名', '年龄', '城市']) # 需要指定列名
# df = pd.DataFrame(data) # 需要指定列名
df

   姓名  年龄  城市
0  张三  25  北京
1  李四  30  上海
2  王五  28  广州